.wallet-page {
  .dd-container {
    .dd-select {
      a.dd-selected {
        color: @color-1;
      }
    }
    a {
      border: 1px solid fade(@color-1,20%);
    }
  }
  p.like-input {
    border: 1px solid fade(@color-1,20%);
    border-radius: 4px;
    color: @color-1;
    font-family: @font-normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
  }
  .btn-white-wallet {
    padding: 18px 20px 18px 60px;
    display: inline-block;
    border-radius: 4px;
    background-color: @color-1;
    color: @color-2;
    font-family: @font-500;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    outline: none;
    text-decoration: none;
  }
  .form-copy-text {
    color: @color-1;
    background-color: fade(#EDEDF0,20%);
    padding: 20px 60px 20px 10px;
    //overflow-x: auto;
   @media (max-width:991px) {
     word-wrap: break-word;
   }
  }
  .currency-text {
    color: @color-1;
    font-family: @font-500;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .white-block-wrap {
    padding-bottom: 40px;
  }
}